#startCam {
    background-color: crimson;
}

#startCam:hover:enabled {
    background-color: red;
}

.min {
    width: fit-content;
}

video {
    margin: 3px;
}

pre {
    border: 0;
    background-color: transparent;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: x-small;
}

button.red {
    background-color: darkred;
}
button.red:hover {
    background-color: red;
}

.horizontal {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: flex-start;
}

select {
    margin-right: 0.5em;
}

textarea {
    margin-right: 0.5em;
}