#startCam {
    background-color: crimson;
}

#startCam:hover:enabled {
    background-color: red;
}

.min {
    width: fit-content;
}

video {
    margin: 3px;
}

pre {
    border: 0;
    background-color: transparent;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: x-small;
}